:root {
  color-scheme: light;
}

html,
body,
#app {
  min-height: 100%;
  margin: 0;
}

body {
  background: var(--color-background, #F7F4F2);
  color: var(--color-text, #454147);
}

a {
  color: inherit;
  text-decoration: none;
}
